@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:300|Ubuntu:300');

body {
    background-color: #202020;
    color: white;
    font-family: Ubuntu;
    font-weight: 300;
}

#timer {
    border-left: solid 1.5px #EBC807;
    font-family: Roboto Mono;
    font-weight: 300;
}

#scramble {
    border-bottom: solid 1.5px #EBC807;
    border-top: solid 1.5px #EBC807;
}

#times {
    padding-top: 5px;
    padding-bottom: 5px;
}

.times {
    margin: 2px;
}