* {
    box-sizing: border-box;
}

.col-half {width: 4.165%;}
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-11half {width: 95.825%;}
.col-12 {width: 100%;}

[class*="col-"] {
    float: left;
    height: 100%;
    padding-left: 8px;
    padding-right: 8px;
}

body {
    margin: 0;
    overflow: hidden;
}

.row-half {height: 6.25vh;}
.row-1 {height: 12.5vh;}
.row-2 {height: 25vh;}
.row-3 {height: 37.5vh;}
.row-4 {height: 50vh;}
.row-5 {height: 62.5vh;}
.row-6 {height: 75vh;}
.row-7 {height: 87.5vh;}
.row-8 {height: 100vh;}

[class*="row-"]::after {
    content: "";
    clear: both;
    display: table;
}

#options {
    text-align: center;
    line-height: 6.25vh;
}

#scramble {
    text-align: center;
    line-height: 6.25vh;
}

#times {
    overflow-y: scroll;
}

.times {
    line-height: 1.5em;
}

#timer {
    line-height: 75vh;
    font-size: 7em;
    text-align: center;
}

#portraitimesrow {
    display: none;
}

#secondtime {
    overflow-y: scroll;
}

#goDownButton {
    display: none;
}

@media (orientation:portrait) {
    #times {
        display: none;
    }
    #timer {
        width: 100% !important;
        font-size: 7.5em;
    }
    #portraitimesrow {
        display: block !important;
    }
    #goDownButton {
        display: block;
        position: fixed;
        width: 50px;
        height: 50px;
        bottom: 20px;
        right: 20px;
        z-index: 100;
        text-align: center;
    }
}

@media (max-width: 45em) {
    #times {
        display: none;
    }
    #timer {
        width: 100% !important;
        font-size: 7.5em;
    }
    #portraitimesrow {
        display: block !important;
    }
    #goDownButton {
        position: fixed;
        width: 50px;
        height: 50px;
        bottom: 20px;
        right: 20px;
        z-index: 100;
        text-align: center;
    }
}